a{ 
	font-family: 'Mali', cursive;
}
nav {
  height: 40px;
  display:absolute;
  width:100%;
  background: rgba(100,100,100);
}

body{
	background-color: #2f3238;
	font-family: 'Mali', cursive;
}

ul {
	color:rgb(253,245,245);
}

nav li {

  display: inline-block;
  color: rgb(253, 245, 245);
  list-style: none;
  width: 5%;
  font-size: 17px;
  height: 100%;
  position: relative;
  top:7px;
  float: left;
  border: none;
  margin-right: 40px;
}

a:hover{
	opacity: .8;
}
 .mo {
   height: auto;
   width:200px;
   border-radius: 50%;
   border: rgba(100,100,100, .8) 3px solid;
  
 }
 
 .main-section{
 position: relative;
 left:45%;
 top:50px;
 }
 
 .main {
	display: block;
	position: relative;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 15px;
	animation-name: moveInLeft;
	animation-duration: 2s;
	right:100px;
	color:rgb(253, 245, 245);
}

.sub {
	display: block;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 5px;
	animation-name: moveInRight;
	animation-duration: 2s;
	color: rgb(253, 245, 245);
}


@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
.content{
	position: relative;
	top:50px;
	left:35%;
}

table{
    border-collapse: collapse;
    color:rgb(253, 245, 245);
}
table th {
    margin: 0px;
    text-align: left;
    background-color: rgba(250,0,41,.7);
    padding: 4px 30px 4px 8px;
}
table td {
    border: 1px solid grey;
    padding: 4px 8px;
}

#hobbies {
	position: relative;
	right:150px;
}

.hobby {
	color:rgba(250,0,41,.7);
}

footer {
	position: relative;
	left:50px;
	text-align: center;
	margin: 60px 0;
}
footer p {
	color: #404348;
}

