.h1 {
    position: absolute;
    left:400px;
    top:125px;
    display: inline;
}

.title{
color: black;
font-size: 40px;
font-family: 'Futura';
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px green, 0 0 55px white, 0 0 75px white;
}

h1{
font-size: 30px;
font-family: 'Futura';
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green, 0 0 40px green, 0 0 55px green, 0 0 75px green;
}

.player1 {
font-size: 30px;
font-family: 'Futura';
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 55px #ff0000, 0 0 75px #ff0000;
}

.player2 {
font-size: 30px;
font-family: 'Futura';
color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00F, 0 0 30px #00F, 0 0 40px #00F, 0 0 55px #00F, 0 0 75px #00F;
}

.h2 {
    position: absolute;
    left:400px;
    top:325px;
    display: inline;
}
.v2 {
    position: absolute;
    left:500px;
    top:225px;
    display: inline;
    transform:rotate(270deg);
}
.v1 {
    position: absolute;
    left:300px;
    top:225px;
    display: inline;
    transform:rotate(270deg);
}
.xo {
    width:240px;
}
.xo0 {
    position: absolute;
    left:440px;
    top:10px;
}
.xo1 {
    position: absolute;
    left:630px;
    top:10px;
}

.xo2 {
    position: absolute;
    left:820px;
    top:10px;
}

.xo3 {
    position: absolute;
    left:440px;
    top:200px;
}

.xo4 {
    position: absolute;
    left:630px;
    top:200px;
}
.xo5 {
    position: absolute;
    left:830px;
    top:200px;
}
.xo6 {
    position: absolute;
    left:440px;
    top:390px;
}
.xo7 {
    position: absolute;
    left:630px;
    top:390px;
}
.xo8 {
    position: absolute;
    left:830px;
    top:390px;
}
.s:focus{
    outline-width: 0;
}
.s {
    position: absolute;
    border: none;
    text-decoration: none;
    background-color: rgba(200,0,0, 0);
}
.s0 {
    height:170px;
    width:170px;
    left:480px;
    top:50px;
}
.s1{
    height:170px;
    width:180px;
    left:660px;
    top:50px;
}
.s2{
    height:170px;
    width:180px;
    left:860px;
    top:50px;
}
.s3{
    height:180px;
    width:180px;
    left:470px;
    top:230px;
}
.s4{
    height:180px;
    width:180px;
    left:660px;
    top:230px;
}
.s5{
    height:180px;
    width:180px;
    left:860px;
    top:230px;
}
.s6{
   height:180px;
    width:180px;
    left:470px;
    top:430px;
}
.s7{
    height:180px;
    width:180px;
    left:660px;
    top:430px;
}
.s8{
    height:180px;
    width:180px;
    left:860px;
    top:430px;
}

.reset{
    weight: bold;
    border: none;
    text-decoration: none;
    background-color: rgba(150,150,150, .2);
    padding: 20px;
    margin:10px;
}
.reset:focus{
    outline-width: 0;
}
    

